{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5 mx-auto py-5">
        <h1 class="text-center fw-bold mb-4">Make a Post.</h1>
        <form action="" method="post">
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea type="text" class="form-control py-2" id="content" name="content" required
                    rows="5"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark w-100 py-2 fw-bold">Post</button>
                </div>
                <div class="col">
                    <a href="/" class="btn btn-white border w-100 py-2 fw-bold">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}